<header class='header'>
  <nav class='header__nav'>
    <a class='header__nav__item header__nav__item--title' href='{{ '/' | relative_url }}'>{{ site.title | escape }}</a>
		<a class='header__nav__item' href="/about">About</a>
		<div class="dropdown">
		    <button class="dropbtn">Journals
		      <i class="fa fa-caret-down"></i>
		    </button>
		    <div class="dropdown-content">
		      <a href="/journal">Academic</a>
		      <a href="/india">India</a>
		      <a href="http://nakatani-ries.rice.edu/student-profiles/2016-2/2016-u-s-fellows/2016-donald-swen/">Japan</a>
		      <a href="https://dswenn.wordpress.com/">Austria</a>
		    </div>
		</div> 
        <a class='header__nav__item' href="/library">Library</a>
        <a class='header__nav__item' href="/projects">Projects</a>
  </nav>
</header>


<!-- 

    {% for page in site.pages %}
      {% if page.title %}
        <a class='header__nav__item' href='{{ page.url | relative_url }}'>{{ page.title | escape }}</a>
      {% endif %}
    {% endfor %} -->