html {
  box-sizing: border-box;
  font-size: $default-font-size;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $white;
  font-family: $sans-serif-fonts;
}

.layout {
  max-width: 700px;
  margin: auto;
  padding: 0 35px;
}

.header {
  padding: 50px 0;
}

.main {
  margin: 50px 0 120px;
}

.header__nav {
  display: flex;
  align-items: baseline;
  margin:auto;
}

.header__nav__item {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  font-size: 1rem;
  margin-right: 17px;
  font-family: $serif-fonts;
  color:  $green;

}

.header__nav__item--title {
  font-size: 1.55rem;
  margin-right: 40px;
  font-weight: bold;
  font-family: 'Ovo', serif;
}

.posts {
  list-style: none;
  margin: 0;
  padding: 0;
}

.posts__item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  align-items: baseline;
}

.posts__date {
  width: 30%;
  color: $grey;
  font-size: 1rem;
  font-family: $serif-fonts;
}

.posts__title {
  width: 70%;
  font-size: 1rem;
}

.posts__link {
  color: $black;
  text-decoration: none;
}

.footer {
  padding: 25px 0;
  font-size: .9rem;
  font-style: italic;
  font-family: $serif-fonts;
  color: $grey;
}

.footer__list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.footer__item {
  margin-right: 10px;
  display: flex;
}

.footer__item a {
  color: $grey;
  text-decoration: none;
}

.footer__item:nth-child(2):before {
  content: '|';
  margin-right: 10px;
}

.icon {
  height: .9rem;
  width: .9rem;
  fill: $grey;
}

#disqus_thread {
  margin-top: 60px;
}







.wrapper .container {
    max-width: 80 rem;
}
.post-nav {
    text-align: center;
    padding: 1rem;
}

.post-title {
    display: block;
}




// Grid
// ––––––––––––––––––––––––––––––––––––––––––––––––––


// Using flexbox for the grid, inspired by Philip Walton:
// http://philipwalton.github.io/solved-by-flexbox/demos/grids/
// By default each .column within a .row will evenly take up
// available width, and the height of each .column with take
// up the height of the tallest .column in the same .row
.row {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;

  &.row-no-padding {
    padding: 0;

    &> .column {
      padding: 0;
    }
  }

  &.row-wrap {
    flex-wrap: wrap;
  }

  // Vertically Align Columns
  // .row-* vertically aligns every .col in the .row
  &.row-top {
    align-items: flex-start;
  }

  &.row-bottom {
    align-items: flex-end;
  }

  &.row-center {
    align-items: center;
  }

  &.row-stretch {
    align-items: stretch;
  }

  &.row-baseline {
    align-items: baseline;
  }

  .column {
    display: block;
    // IE 11 required specifying the flex-basis otherwise it breaks mobile
    flex: 1 1 auto;
    margin-left: 0;
    max-width: 100%;
    width: 100%;

    // Column Offsets
    &.column-offset-10 {
      margin-left: 10%;
    }

    &.column-offset-20 {
      margin-left: 20%;
    }

    &.column-offset-25 {
      margin-left: 25%;
    }

    &.column-offset-33,
    &.column-offset-34 {
      margin-left: 33.3333%;
    }

    &.column-offset-50 {
      margin-left: 50%;
    }

    &.column-offset-66,
    &.column-offset-67 {
      margin-left: 66.6666%;
    }

    &.column-offset-75 {
      margin-left: 75%;
    }

    &.column-offset-80 {
      margin-left: 80%;
    }

    &.column-offset-90 {
      margin-left: 90%;
    }

    // Explicit Column Percent Sizes
    // By default each grid column will evenly distribute
    // across the grid. However, you can specify individual
    // columns to take up a certain size of the available area
    &.column-10 {
      flex: 0 0 10%;
      max-width: 10%;
    }

    &.column-20 {
      flex: 0 0 20%;
      max-width: 20%;
    }

    &.column-25 {
      flex: 0 0 25%;
      max-width: 25%;
    }

    &.column-33,
    &.column-34 {
      flex: 0 0 33.3333%;
      max-width: 33.3333%;
    }

    &.column-40 {
      flex: 0 0 40%;
      max-width: 40%;
    }

    &.column-50 {
      flex: 0 0 50%;
      max-width: 50%;
    }

    &.column-60 {
      flex: 0 0 60%;
      max-width: 60%;
    }

    &.column-66,
    &.column-67 {
      flex: 0 0 66.6666%;
      max-width: 66.6666%;
    }

    &.column-75 {
      flex: 0 0 75%;
      max-width: 75%;
    }

    &.column-80 {
      flex: 0 0 80%;
      max-width: 80%;
    }

    &.column-90 {
      flex: 0 0 90%;
      max-width: 90%;
    }

    // .column-* vertically aligns an individual .column
    .column-top {
      align-self: flex-start;
    }

    .column-bottom {
      align-self: flex-end;
    }

    .column-center {
      align-self: center;
    }
  }
}

// Larger than mobile screen
@media (min-width: 40.0rem) { // Safari desktop has a bug using `rem`, but Safari mobile works
// .container is main centered wrapper with a max width of 112.0rem (1120px) here is also where you change size
.container {
  margin: 0 auto;
  max-width: 112.0rem;
  padding: 0 2.0rem;
  position: relative;
  width: 150%;
}
  .row {
    flex-direction: row;
    margin-left: -11.0rem;
    width: calc(100% + 2.0rem);

    .column {
      margin-bottom: inherit;
      padding: 0 1.0rem;
    }
  }
}



/**
 * override column size for mobile
 */
@media (max-width: 40rem) {
  .row .column.column-33, .row .column.column-34 {
    flex: 0 0 100%;
    max-width: 100%; }

    // .container is main centered wrapper with a max width of 112.0rem (1120px) here is also where you change size
.container {
  margin: 0 auto;
  max-width: 112.0rem;
  padding: 0 2.0rem;
  position: relative;
  width: 100%;
}}



 img {
  max-width: 100%; }

.preview-panel{margin: 10px 0 10px;}


@media only screen and (min-width:1220px){.contact-form__input,.contact-form__textarea{font-size:19px}}.contact-form__input:focus,.contact-form__textarea:focus{outline:0;border-color:#F2784B}::-webkit-input-placeholder{color:#d4dada}::-moz-placeholder{color:#d4dada}:-ms-input-placeholder{color:#d4dada}:-moz-placeholder{color:#d4dada}.contact-form__textarea{min-height:200px;resize:none}.portfolio{padding:0 5px}.portfolio-item{position:relative;padding:5px;float:left;width:50%}.portfolio-item__link{position:relative;display:block}@media only screen and (min-width:1024px){.portfolio-item__link:hover .portfolio-item__content{opacity:1;visibility:visible}}.portfolio-item__image{width:100%}.portfolio-item__content{position:absolute;top:0;right:0;bottom:0;left:0;display:flex;align-items:center;justify-content:center;background:rgba(27, 129, 62,.8);opacity:0;visibility:hidden;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out}.portfolio-item__info{text-align:center}.portfolio-item__title{color:#fff;font-size:22px;font-weight:700;;font-family: 'Ovo', serif;letter-spacing:-.02em}@media only screen and (min-width:768px){.portfolio-item__title{font-size:30px}}@media only screen and (min-width:1220px){.portfolio-item__title{font-size:35px}}.portfolio-item__subtitle{margin-top:5px;color:rgba(255,255,255,.7);font-size:15px;font-weight:400;letter-spacing:0}@media only screen and (min-width:768px){.portfolio-item__subtitle{font-size:17px}}@media only screen and (min-width:1220px){.portfolio-item__subtitle{font-size:19px}}.blog{padding:0 5px}.blog-post{position:relative;padding:5px;float:left;width:50%}.blog-post__link{position:relative;display:block}@media only screen and (min-width:1024px){.blog-post__link:hover .blog-post__content{opacity:1;visibility:visible}}.blog-post__image{width:100%}.blog-post__content{position:absolute;top:0;right:0;bottom:0;left:0;display:flex;align-items:center;justify-content:center;background:rgba(27, 129, 62,.8);opacity:0;visibility:hidden;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out}.blog-post__info{text-align:center}.blog-post__title{color:#fff;font-size:22px;font-weight:700;letter-spacing:-.02em}@media only screen and (min-width:768px){.blog-post__title{font-size:30px}}@media only screen and (min-width:1220px){.blog-post__title{font-size:35px}}.blog-post__subtitle{margin-top:5px;color:rgba(255,255,255,.7);font-size:15px;font-weight:400;letter-spacing:0}@media only screen and (min-width:768px){.blog-post__subtitle{font-size:17px}}@media only screen and (min-width:1220px){.blog-post__subtitle{font-size:19px}}.pagination__prev{float:left;margin-right:10px}.pagination__next{float:left}


/* The dropdown container */
.dropdown {
  float: left;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 1rem;
  border: none;
  outline: none;
  text-decoration: none;
  color: $green;
  padding: 0px 17px 0px 0px;
  background-color: inherit;
  font-family: $serif-fonts; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  cursor: pointer;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 130px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: $green;
  padding: 17px 12px 0px 0px;
  text-decoration: none;
  font-family: $serif-fonts;
  text-align: center;
  font-size: 0.8rem;
  display: inline-block;
}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: inline-block;
  position: relative;
}

.show {display:inline-block;}

/* Show the dropdown menu on hover */

.fluidbox{outline:0}.fluidbox__overlay{background-color:rgba(255,255,255,.85);cursor:pointer;cursor:zoom-out;opacity:0;pointer-events:none;position:fixed;top:-100%;left:0;bottom:-100%;right:0;-webkit-transition:all .25s ease-in-out;transition:all .25s ease-in-out}.fluidbox--opened .fluidbox__overlay{pointer-events:auto}.fluidbox__wrap{background-position:center center;background-size:cover;margin:0 auto;position:relative;-webkit-transition:all .25s ease-in-out;transition:all .25s ease-in-out}.fluidbox--closed .fluidbox__thumb,.fluidbox__thumb{-webkit-transition:opacity 0s ease-in-out 0s;transition:opacity 0s ease-in-out 0s}.fluidbox__ghost{background-size:100% 100%;background-position:center center;background-repeat:no-repeat;position:absolute;-webkit-transition:opacity 0s 0s,-webkit-transform .25s 0s;transition:opacity 0s 0s,-webkit-transform .25s 0s;transition:opacity 0s 0s,transform .25s 0s;transition:opacity 0s 0s,transform .25s 0s,-webkit-transform .25s 0s}.fluidbox--opened .fluidbox__ghost{cursor:pointer;cursor:zoom-out}.fluidbox--closed .fluidbox__ghost{-webkit-transition:opacity 0s .25s,-webkit-transform .25s 0s;transition:opacity 0s .25s,-webkit-transform .25s 0s;transition:opacity 0s .25s,transform .25s 0s;transition:opacity 0s .25s,transform .25s 0s,-webkit-transform .25s 0s}.fluidbox__loader{opacity:0;-webkit-perspective:200px;perspective:200px;pointer-events:none;position:absolute;top:0;left:0;bottom:0;right:0}.fluidbox__loader:before{background-color:rgba(255,255,255,.85);content:'';-webkit-transform-style:preserve-3d;transform-style:preserve-3d;position:absolute;top:50%;left:50%;width:20%;padding-bottom:20%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);-webkit-transition-property:-webkit-transform;transition-property:-webkit-transform;transition-property:transform;transition-property:transform,-webkit-transform;-webkit-transition-duration:.25s;transition-duration:.25s;-webkit-transition-delay:0s;transition-delay:0s}.fluidbox--loading .fluidbox__loader{opacity:1;-webkit-transition:opacity .25s ease-in-out .25s;transition:opacity .25s ease-in-out .25s}.fluidbox--loading .fluidbox__loader:before{-webkit-animation:a 1s 0s infinite ease-in-out forwards;animation:a 1s 0s infinite ease-in-out forwards}.owl-carousel{display:none;-webkit-tap-highlight-color:transparent;position:relative;z-index:1}.owl-carousel .owl-stage{position:relative;-ms-touch-action:pan-Y;-moz-backface-visibility:hidden}.owl-carousel .owl-stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}.owl-carousel .owl-stage-outer{position:relative;overflow:hidden;-webkit-transform:translate3d(0,0,0)}.owl-carousel .owl-item,.owl-carousel .owl-wrapper{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0)}.owl-carousel .owl-item{position:relative;min-height:1px;float:left;-webkit-backface-visibility:hidden;-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none}.owl-carousel .owl-item img{display:block;width:100%}.owl-carousel .owl-dots.disabled,.owl-carousel .owl-nav.disabled{display:none}.owl-carousel .owl-dot,.owl-carousel .owl-nav .owl-next,.owl-carousel .owl-nav .owl-prev{cursor:pointer;cursor:hand;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel.owl-loaded{display:block}.owl-carousel.owl-loading{opacity:0;display:block}.owl-carousel.owl-hidden{opacity:0}.owl-carousel.owl-refresh .owl-item{visibility:hidden}.owl-carousel.owl-drag .owl-item{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel.owl-grab{cursor:move;cursor:grab}.owl-carousel.owl-rtl{direction:rtl}.owl-carousel.owl-rtl .owl-item{float:right}.no-js .owl-carousel{display:block}.owl-carousel .animated{animation-duration:.5s;animation-fill-mode:both}.owl-carousel .owl-animated-in{z-index:0}.owl-carousel .owl-animated-out{z-index:1}.owl-carousel .fadeOut{animation-name:fadeOut}@keyframes fadeOut{0%{opacity:1}100%{opacity:0}}.owl-height{transition:height .5s ease-in-out}.owl-carousel .owl-item .owl-lazy{opacity:0;transition:opacity .4s ease}.owl-carousel .owl-item img.owl-lazy{transform-style:preserve-3d}.owl-carousel .owl-video-wrapper{position:relative;height:100%;background:#000}.owl-carousel .owl-video-play-icon{position:absolute;height:80px;width:80px;left:50%;top:50%;margin-left:-40px;margin-top:-40px;background:url(owl.video.play.png) no-repeat;cursor:pointer;z-index:1;-webkit-backface-visibility:hidden;transition:transform .1s ease}.owl-carousel .owl-video-play-icon:hover{-ms-transform:scale(1.3,1.3);transform:scale(1.3,1.3)}.owl-carousel .owl-video-playing .owl-video-play-icon,.owl-carousel .owl-video-playing .owl-video-tn{display:none}.owl-carousel .owl-video-tn{opacity:0;height:100%;background-position:center center;background-repeat:no-repeat;background-size:contain;transition:opacity .4s ease}.owl-carousel .owl-video-frame{position:relative;z-index:1;height:100%;width:100%}body,html{height:100%}body{background:#fff;font-family:Muli,sans-serif;font-weight:400;font-style:normal;line-height:1;color:#6C7A89}h1,h2,h3,h4,h5,h6{font-family:Muli,sans-serif;color:#2A2F36}h1:first-child,h2:first-child,h3:first-child,h4:first-child,h5:first-child,h6:first-child{margin-top:0}.h1,h1{font-size:25px;font-weight:700;line-height:1.2;letter-spacing:-.02em}@media only screen and (min-width:768px){.h1,h1{font-size:35px}}


@media only screen and (min-width:768px){.socials__item__link{width:40px;height:40px;font-size:20px}}.socials__item__link svg{position:absolute;top:50%;left:50%;-moz-transform:translate(-50%,-52%);-o-transform:translate(-50%,-52%);-ms-transform:translate(-50%,-52%);-webkit-transform:translate(-50%,-52%);transform:translate(-50%,-52%)}.socials__item__link:hover{background:#F2784B;color:#fff}
.gallery{visibility:hidden;position:relative;max-width:90%;margin:20px auto}
@media only screen and (min-width:768px){.gallery{margin:30px auto;}}@media only screen and (min-width:1220px){.gallery{margin:40px auto}}.gallery:first-child{margin-top:0}.gallery--on{visibility:visible}.gallery__item{position:relative}.gallery__item img{width:100%}.gallery--carousel .gallery__item__link{display:block;pointer-events:none}.gallery--carousel .owl-nav{display:none}.gallery--carousel .owl-dots{margin-top:20px;text-align:center}.gallery--carousel .owl-dots .owl-dot{display:inline-block;margin:0 3px;width:12px;height:12px;border:0;border-radius:100%;background:#ABB7B7;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;cursor:pointer;outline:0}.gallery--carousel .owl-dots .owl-dot.active{background:#F2784B}.gallery--grid .gallery__wrap{margin-left:-5px;margin-right:-5px}.gallery--grid .gallery__item{float:left;width:50%;padding:5px}.gallery--grid .gallery__item__link{display:block;cursor:zoom-in}.gallery--grid[data-columns="3"] .gallery__item{width:33.33%}.gallery--grid[data-columns="4"] .gallery__item{width:33.33%}@media only screen and (min-width:768px){.gallery--grid[data-columns="4"] .gallery__item{width:25%}}.gallery--grid[data-columns="5"] .gallery__item{width:33.33%}@media only screen and (min-width:768px){.gallery--grid[data-columns="5"] .gallery__item{width:25%}}@media only screen and (min-width:1024px){.gallery--grid[data-columns="5"] .gallery__item{width:20%}}.gallery--grid[data-columns="6"] .gallery__item{width:33.33%}@media only screen and (min-width:768px){.gallery--grid[data-columns="6"] .gallery__item{width:25%}}@media only screen and (min-width:1024px){.gallery--grid[data-columns="6"] .gallery__item{width:20%}}@media only screen and (min-width:1220px){.gallery--grid[data-columns="6"] .gallery__item{width:16.66%}}
